.contenedor-no-encontrado {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

.contenido {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.boton-volver {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #ffffff;
  color: #000000;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  z-index: 2;
  position: relative;
}

.boton-volver:hover {
  background-color: #dddddd;
}






